@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";



// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$greenish: #00d1b2;


$navbar-background-color: $greenish;

$title-weight: 300;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 1px;
$input-shadow: none;

.flex-wrapper {
    display: flex;
    flex-direction: column;

}


.column {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.navbar-start {
    flex: 1;
    max-width: 60%;
}


@media only screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-start {
        min-width: 90%;

    }

}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";